.carousel .blueimp-gallery {
	box-shadow:none;
	margin:0;
}
.carousel .blueimp-gallery .title {
	display:none;
}
.carousel .blueimp-gallery > .indicator > li {
	width:32px;
	height:16px;
}
.carousel .blueimp-gallery > .indicator > li::after {
	display: none;
}
.carousel .slide-info {
	background-color: #eee;
	padding: 1rem;
	height: 100%;
}
.carousel .slide-more {
	width:100%;
}
@media (min-width: 768px) {
	.carousel .slide-more {
		position:absolute;
		left:0;
		bottom:0;
		padding:1rem;
		background-color:rgba(0,0,0,.1);
	}
}
